<template name="App_body">
    <h1>Title</h1>
    {{# if currentUser }}
    {{ externalData }}
    {{/if}}
    {{ currentUser.profile.name }}
    {{ currentUser.emails.[0].addresses }}
    <div class="content-overlay"></div>

    <div id="content-container">
        {{! #momentum plugin="fade"}}
            {{! #if Template.subscriptionsReady}}
                {{> Template.dynamic template=main}}
            {{! else}}
                {{! > App_loading}}
            {{! /if}}
        {{! /momentum}}
    </div>
</template>